<div class="jumbotron">
    <h1>FUNÇÃO SISTEMAS</h1>
    <p class="lead">Avaliação para vaga Desenvolvedor .Net</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>O que foi proposto?</h2>
        <p>Sistema de manutenção dos dados básicos de clientes e beneficiários.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Na tela de cadastramento/alteração de clientes, incluir um novo campo denominado CPF, que permitirá o cadastramento do CPF do cliente.</p>
        <p>
            Pontos relevantes:

            O novo campo deverá seguir o padrão visual dos demais campos da tela.
            O cadastramento do CPF será obrigatório.
            Deverá possuir a formatação padrão de CPF (999.999.999-99).
            Deverá consistir se o dado informado é um CPF válido (conforme o cálculo padrão de verificação do dígito verificador de CPF).
            Não permitir o cadastramento de um CPF já existente no banco de dados, ou seja, não é permitida a existência de um CPF duplicado.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Beneficiários</h2>
        <p>Na tela de cadastramento/alteração de clientes, incluir um novo botão denominado Beneficiários, que permitirá o cadastramento de Beneficiários do cliente, o mesmo deve abrir um pop-up para inclusão do CPF e Nome do beneficiário, além disso deve existir um grid onde será exibido os beneficiários que já foram inclusos, no mesmo será possível realizar a manutenção dos beneficiários cadastrados, alteração e exclusão.</p>
        <p>
            Pontos relevantes:

            O novo botão e novos campos deverão seguir o padrão visual dos demais botões e campos da tela.
            O campo CPF deverá possuir a formatação padrão (999.999.999-99).
            Deverá consistir se o dado informado é um CPF válido (conforme o cálculo padrão de verificação do dígito verificador de CPF).
            Não permitir o cadastro de mais de um beneficiário com o mesmo CPF para o mesmo cliente.
            O beneficiário será gravado na base de dados quando for acionado o botão Salvar na tela Cadastrar Cliente. No banco de dados será necessário criar uma nova tabela, para a inclusão dos dados do beneficiário, ID, CPF, NOME, IDCLIENTE.
        </p>
    </div>
</div> 
