<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Beneficiários</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="CPF">CPF:</label>
                        <input required="required" type="text" class="form-control" id="cpf_benef" name="CPF" maxlength="14">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="NomeB">Nome:</label>
                        <input required="required" type="text" class="form-control" id="nome_benef" name="Nome" placeholder="Ex.: João da Silva" maxlength="255">
                    </div>
                </div>
                <div>
                    <button type="button" id="btn_incluir" class="btn btn-success" style="margin-top: 24px;">Incluir</button>
                </div>
            </div>
            <table class="table table-borderless" id="md_table">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>